<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'minor/style3.css' %}" media="Screen" />
<body>
<div id="heading">
CHOOSE A FILE TO UPLOAD !!
</div>
<div id="pic">
<img class="im" src="{% static "minor/drive.jpg" %}" alt="My image" height="400" width="600"/>
<div id="options">
<form enctype="multipart/form-data" action="{% url 'minor:FileUpload' %}" method="POST" class="list">
 {% csrf_token %}
 <table>
       {{form.as_table}}
 </table>
 </div>
 <p></p>
<div id="s"><input type="submit" value="Submit" id="Save" class="submit">
</form>
</div>
<div id="back">
<a href="{% url 'minor:try1' %}">My DRIVE</a>
</div>

</div>
</body>
</html>