<html>

<h1>Welcome to My Cloud Drive</h1>

<a href="{% url 'minor:index' %}">Home Page</a>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<body>
<form action="{% url 'minor:my_view' %}" method="post">
{% csrf_token %}
<!--{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}-->
       <div> Username:
    <input type="text" name="username" id="username" Placeholder="Enter Your username over here"></div>
	<div>Password:
	<input type="password"  name="password" id="password" Placeholder="Enter Your Password Over Here"></div>
 <div>   
<input type="submit" value="Login" /></div>
</form>

</body>
</html>